[submodule ".vim/pack/tpope/opt/vim-surround"]
	path = .vim/pack/tpope/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/tpope/opt/vim-commentary"]
	path = .vim/pack/tpope/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/tpope/opt/vim-repeat"]
	path = .vim/pack/tpope/opt/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/tpope/opt/vim-fugitive"]
	path = .vim/pack/tpope/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/personal/opt/openscad.vim"]
	path = .vim/pack/personal/opt/openscad.vim
	url = git@github.com:RobinCamarasa/openscad.vim.git
[submodule ".vim/pack/personal/opt/openscad.vim"]
	path = .vim/pack/personal/opt/openscad.vim
	url = git@github.com:RobinCamarasa/openscad.vim.git
[submodule ".vim/pack/utils/opt/auto-pairs"]
	path = .vim/pack/utils/opt/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/pack/utils/opt/asyncrun.vim"]
	path = .vim/pack/utils/opt/asyncrun.vim
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule ".vim/pack/colorscheme/opt/molokai"]
	path = .vim/pack/colorscheme/opt/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/pack/tpope/opt/vim-sensible"]
	path = .vim/pack/tpope/opt/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/pack/personal/opt/cto.vim"]
	path = .vim/pack/personal/opt/cto.vim
	url = git@github.com:RobinCamarasa/cto.vim.git
